<!--
SPDX-FileCopyrightText: 2021 Chris Saunders <chris@christophersaunders.ca>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<form>
  <div class="flexrow lighterfluid-configuration-actions">
    <div></div>
    <button class="flex0 lighterfluid-button" type="button" title="Add new light" data-action="add">
      <i class="fas fa-plus"></i>Add new light
    </button>
    <button class="flex0 lighterfluid-button" type="submit" title="Save">
      <i class="fas fa-save"></i>Save &amp; close
    </button>
    <div class="flex0">&nbsp;</div>
  </div>
  <div class="lighterfluid-configuration-container flexcol">
    <div class="lighterfluid-header flexrow">
      <div>Name</div>
      <div>Color</div>
      <div>Alpha</div>
      <div>Bright Radius</div>
      <div>Dim Radius</div>
    </div>
    {{#each lightSources}}
    <div id="{{ identifier }}" class="lighterfluid-input-row flexrow">
      <button type="button" title="Delete {{ name }}" data-action="delete" data-identifier="{{ identifier }}" class="flex0 lighterfluid-icon-button lighterfluid-icon-destroy">
        <i class="fas fa-trash"></i>
      </button>
      <input data-identifier="{{ identifier }}" class="light-source-name" type="text" name="name" value="{{ name }}" />
      <input data-identifier="{{ identifier }}" class="light-source-color" type="text" name="color" value="{{ color }}" />
      <input data-identifier="{{ identifier }}" class="light-source-alpha" type="number" min="0.0" max="1.0" step="0.01" name="alpha" value="{{ alpha }}" />
      <input data-identifier="{{ identifier }}" class="light-source-bright-radius" type="number" name="brightRadius" value="{{ brightRadius }}" />
      <input data-identifier="{{ identifier }}" class="light-source-dim-radius" type="number" name="dimRadius" value="{{ dimRadius }}" />
    </div>
    {{/each}}
  </div>
</form>
