<!--
SPDX-FileCopyrightText: 2021 Chris Saunders <chris@christophersaunders.ca>

SPDX-License-Identifier: GPL-3.0-or-later
-->

<div id="{{ id }}" class="light-hud-container col">
  <div class="light-hud">
    {{#each lightSources}}
    <div class="light-hud-control" data-action="{{ identifier }}">
      {{ name }}
    </div>
    {{/each}}
  </ul>
</div>
