/*
 * SPDX-FileCopyrightText: 2021 Chris Saunders <chris@christophersaunders.ca>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* ---------------------------- */
/*             Sass             */
/* This is your Sass entry file */
/* ---------------------------- */
.lighterfluid-configuration-actions {
  margin-bottom: 5px;
}

.lighterfluid-configuration-container {
  max-height: 300px;

  .lighterfluid-header {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
  }

  .lighterfluid-input-row {
    align-items: center;
    padding-bottom: 5px;

    input {
      margin: 0 3px;
    }
  }
}

.lighterfluid-button {
  min-width: max-content;
}

.lighterfluid-icon-button {
  border: none;
  background-color: rgba($color: #000000, $alpha: 0);
}

.lighterfluid-icon-destroy:hover {
  box-shadow: none;
  color: rgb(255, 0, 0);
}

.light-hud-container {
  z-index: 100;
  transform: scale(1) !important;

  .light-hud {
    color: white;
    position: relative;
    text-align: center;

    .light-hud-control {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      padding: 2px 5px;
      margin-bottom: 3px;
      pointer-events: all;
    }
  }
}
